Repository igusdev/s3-website-pr-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,json,scss,css,md,html,yml,yaml}": ["prettier --write"],
  "*.ts": ["eslint --fix"]
}

chore: update release
  dist/index.js
Due: prettier --write

Add renovate.json
  renovate.json
Due: prettier --write

fix(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

github: reconfigure renovate
  .github/renovate.json
  renovate.json
Due: prettier --write

github: reconfigure renovate (#5)
  .github/renovate.json
  renovate.json
Due: prettier --write

chore(deps): update actions/download-artifact action to v2
  .github/workflows/pr.yml
Due: prettier --write

chore(deps): update actions/upload-artifact action to v2
  .github/workflows/pr.yml
Due: prettier --write

ci: add CODEOWNERS
  CODEOWNERS
Due: none

ci: add CODEOWNERS (#7)
  CODEOWNERS
Due: none

chore: restructure files and imports
  dist/index.js
  jest.config.js
  src/actions/pr-closed.ts
  src/actions/pr-updated.ts
  src/clients/github.ts
  src/clients/s3.ts
  src/index.ts
  src/utils/checkBucketExists.ts
  src/utils/deactivateDeployments.ts
  src/utils/deleteDeployments.ts
  src/utils/env.spec.ts
  src/utils/env.ts
  src/utils/filePathToS3Key.ts
  src/utils/github.ts
  src/utils/s3.spec.ts
  src/utils/s3.ts
  src/utils/tests/filePathToS3Key.test.ts
  src/utils/tests/validateEnvVars.test.ts
Due: prettier --write, eslint --fix

chore: restructure files and imports (#8)
  dist/index.js
  jest.config.js
  src/actions/pr-closed.ts
  src/actions/pr-updated.ts
  src/clients/github.ts
  src/clients/s3.ts
  src/index.ts
  src/utils/checkBucketExists.ts
  src/utils/deactivateDeployments.ts
  src/utils/deleteDeployments.ts
  src/utils/env.spec.ts
  src/utils/env.ts
  src/utils/filePathToS3Key.ts
  src/utils/github.ts
  src/utils/s3.spec.ts
  src/utils/s3.ts
  src/utils/tests/filePathToS3Key.test.ts
  src/utils/tests/validateEnvVars.test.ts
Due: prettier --write, eslint --fix

fix: websites and cache control
  src/actions/pr-updated.ts
  src/utils/aws.ts
  src/utils/s3.ts
Due: eslint --fix

fix: remove recursive-readdir dependency
  package.json
  src/utils/fs.ts
  src/utils/s3.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: pass region in s3 client
  src/actions/pr-updated.ts
  src/clients/s3.ts
  src/utils/aws.ts
Due: eslint --fix

fix: s3 region, website url and cache control (#9)
  package.json
  src/actions/pr-updated.ts
  src/clients/s3.ts
  src/utils/aws.ts
  src/utils/fs.ts
  src/utils/s3.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: use promisify, instead of fs/promises
  src/utils/fs.ts
Due: eslint --fix

fix: use promisify, instead of fs/promises (#10)
  src/utils/fs.ts
Due: eslint --fix

fix: missing aws region
  .github/workflows/pr-closed.yml
  src/actions/pr-updated.ts
  src/clients/s3.ts
  src/index.ts
  src/utils/aws.ts
Due: prettier --write, eslint --fix

fix: missing aws region (#11)
  .github/workflows/pr-closed.yml
  src/actions/pr-updated.ts
  src/clients/s3.ts
  src/index.ts
  src/utils/aws.ts
Due: prettier --write, eslint --fix

docs: mention aws_region for closing PR
  .github/workflows/pr-closed.yml
  README.md
Due: prettier --write

docs: mention aws_region for closing PR (#12)
  .github/workflows/pr-closed.yml
  README.md
Due: prettier --write

fix: check if dist is updated
  .eslintignore
  .github/workflows/dist-check.yml
  .github/workflows/main.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr.yml
  .nvmrc
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package.json
  yarn.lock
Due: prettier --write

fix: add docs
  .gitattributes
  README.md
Due: prettier --write

fix: check if dist is updated (#13)
  .eslintignore
  .gitattributes
  .github/workflows/dist-check.yml
  .github/workflows/main.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr.yml
  .nvmrc
  README.md
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v14
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

fix: handle removed bucket on pr close
  dist/index.js
  dist/index.js.map
  src/actions/pr-closed.ts
Due: prettier --write, eslint --fix

fix: generated file info
  .gitattributes
Due: none

fix: handle removed bucket on pr close (#15)
  .gitattributes
  dist/index.js
  dist/index.js.map
  src/actions/pr-closed.ts
Due: prettier --write, eslint --fix

chore(deps): update node.js to v16
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

fix: remove bucket and deployment on failure
  README.md
  dist/index.js
  dist/index.js.map
  example.png
  src/actions/pr-closed.ts
  src/actions/pr-updated.ts
  src/utils/s3.ts
Due: prettier --write, eslint --fix

fix: remove bucket and deployment on failure (#18)
  README.md
  dist/index.js
  dist/index.js.map
  example.png
  src/actions/pr-closed.ts
  src/actions/pr-updated.ts
  src/utils/s3.ts
Due: prettier --write, eslint --fix

chore(deps): update yarn to v3.1.0
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @vercel/ncc to ^0.32.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update yarn to v3.1.1
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @vercel/ncc to ^0.33.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v12.22.8
  .nvmrc
Due: none
