Repository igusdev/s3-website-pr-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,json,scss,css,md,html,yml,yaml}": ["prettier --write"],
  "*.ts": ["eslint --fix"]
}

chore(deps): update node.js to v12.22.9
  .nvmrc
Due: none

chore(deps): update node.js to v12.22.10
  .nvmrc
Due: none

chore(deps): update yarn to v3.2.0
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/setup-node action to v3
  .github/workflows/dist-check.yml
  .github/workflows/main.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr.yml
Due: prettier --write

chore(deps): update actions/checkout action to v3
  .github/workflows/dist-check.yml
  .github/workflows/main.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr.yml
Due: prettier --write

chore(deps): update actions/upload-artifact action to v3
  .github/workflows/dist-check.yml
  .github/workflows/pr.yml
Due: prettier --write

chore(deps): update actions/download-artifact action to v3
  .github/workflows/pr.yml
Due: prettier --write

build: use node16
  .github/workflows/dist-check.yml
  .github/workflows/main.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr.yml
  .nvmrc
  action.yml
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v16.14.1
  .nvmrc
Due: none

chore(deps): update dependency jest to v28
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v16.15.0
  .nvmrc
Due: none

chore(deps): update jest monorepo to v28
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update yarn to v3.2.1
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

build: update yarn and deps
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package.json
  yarn.lock
Due: prettier --write

fix: add missing depenedencies
  dist/index.js
  dist/index.js.map
  package.json
  yarn.lock
Due: prettier --write

fix: use proper types
  src/utils/s3.ts
Due: eslint --fix

build: update yarn and deps (#38)
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  dist/index.js
  dist/index.js.map
  dist/sourcemap-register.js
  package.json
  src/utils/s3.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency @vercel/ncc to ^0.34.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v28
  package.json
  yarn.lock
Due: prettier --write

build: don't deploy on renovate updates
  .github/workflows/pr.yml
Due: prettier --write

build: update dependencies
  dist/index.js
  dist/index.js.map
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update node.js to v16.15.1
  .nvmrc
Due: none

build: update dependencies
  .github/workflows/dist-check.yml
  .github/workflows/main.yml
  .github/workflows/pr-closed.yml
  .github/workflows/pr.yml
  .nvmrc
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  dist/index.js
  dist/index.js.map
  package.json
  yarn.lock
Due: prettier --write

fix: set acl during bucket creation
  dist/index.js
  dist/index.js.map
  package.json
  src/utils/s3.ts
Due: prettier --write, eslint --fix

fix: set acl during bucket creation (#58)
  dist/index.js
  dist/index.js.map
  package.json
  src/utils/s3.ts
Due: prettier --write, eslint --fix

fix: bucket ownership
  dist/index.js
  dist/index.js.map
  package.json
  src/utils/s3.ts
Due: prettier --write, eslint --fix

fix: drop acl support and attach policies directly
  dist/index.js
  dist/index.js.map
  src/utils/s3.ts
Due: prettier --write, eslint --fix

fix: make sure access block is public before adding policy
  README.md
  dist/index.js
  dist/index.js.map
  src/utils/s3.ts
Due: prettier --write, eslint --fix

fix: properly empty large s3 buckets
  dist/index.js
  dist/index.js.map
  package.json
  src/utils/s3.ts
  yarn.lock
Due: prettier --write, eslint --fix

build: update yarn
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-3.5.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

build: update versions
  package.json
Due: prettier --write

fix: chunk s3 objects deletion
  dist/index.js
  dist/index.js.map
  package.json
  src/utils/s3.ts
Due: prettier --write, eslint --fix

build: sync renovate config
  .github/renovate.json
Due: prettier --write

build: update dependencies
  dist/index.js
  dist/index.js.map
  package.json
  src/actions/pr-closed.ts
  src/actions/pr-updated.ts
  src/utils/env.ts
  src/utils/fs.ts
  src/utils/github.ts
  src/utils/s3.spec.ts
  src/utils/s3.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: update to node 20
  .nvmrc
  action.yml
  dist/index.js
  dist/index.js.map
  package.json
  src/actions/pr-updated.ts
  src/index.ts
  src/utils/aws.ts
  src/utils/s3.ts
  yarn.lock
Due: prettier --write, eslint --fix

revert: setup aws
  dist/index.js
  dist/index.js.map
  src/index.ts
Due: prettier --write, eslint --fix

feat: update to node 20 (#83)
  .nvmrc
  action.yml
  dist/index.js
  dist/index.js.map
  package.json
  src/actions/pr-updated.ts
  src/utils/aws.ts
  src/utils/s3.ts
  yarn.lock
Due: prettier --write, eslint --fix

build: update yarn.lock
  yarn.lock
Due: none
